<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户下载</title>
    <script th:src="@{/static/jquery-3.3.1/jquery-3.3.1.min.js}" type="text/javascript"></script>
    <link th:href="@{/static/bootstrap-3.3.7-dist/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/static/bootstrap-3.3.7-dist/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">用户数据导出说明</h3>
    </div>
    <div class="panel-body">
        <p class="text-success">用户数据将会导出至.xls的Excel文件中。</p>
    </div>
</div>
<div class="text-center">
<button class="btn btn-success" onclick="downloadFile();">数据导出</button>
</div>
</body>
<script>
    function downloadFile(){
//        var params =
//            [
//                {
//                    id: "0"
//                },
//                {
//                    id: "1"
//                }]
//        var url = "/tgcareer/excel"
//        $.ajax({url: url,
//            type: "POST",
//            data: JSON.stringify(params),
//            contentType:"application/json",
//            success: function(response, status, request) {
//                var disp = request.getResponseHeader('Content-type:application/json;charset=utf-8');
//                if (disp && disp.search('attachment') !== -1) {  //判断是否为文件
//                    var form = $('<form method="POST" action="' + url + '">');
//                    $.each(params, function (k, v) {
//                        form.append($('<input type="hidden" name="' + k +
//                            '" value="' + v + '">'));
//                    });
//                    $('body').append(form);
//                    form.submit(); //自动提交
//                }
//            }
//        })
        window.location.href="/tgcareer/download";

    }
</script>
</html>