<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>小程序用户信息</title>
    <script th:src="@{/static/jquery-3.3.1/jquery-3.3.1.min.js}" type="text/javascript"></script>
    <link th:href="@{/static/bootstrap-3.3.7-dist/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/static/bootstrap-3.3.7-dist/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading text-center"><strong>小程序用户信息</strong></div>

    <!-- Table -->
    <table class="table table-bordered table-striped text-center">
        <tr>
            <th class="text-center">姓名</th>
            <th class="text-center">职位</th>
            <th class="text-center">公司</th>
            <th class="text-center">城市</th>
            <th class="text-center">性别</th>
            <th class="text-center">年龄</th>
            <th class="text-center">电话</th>
            <th class="text-center">大学</th>
            <th class="text-center">学历</th>
            <th class="text-center">期望年薪</th>
            <th class="text-center">年薪</th>
            <th class="text-center">月薪</th>
            <th class="text-center">资料更新时间</th>
            <th class="text-center">创建时间</th>
            <th class="text-center">推送</th>
        </tr>
        <!--/*@thymesVar id="users" type="java.util.List"*/-->
        <!--/*@thymesVar id="user" type="com.main.tgcareer.modules.user.entity.User"*/-->
        <tr th:each="user: ${users}">
            <td th:text="${user.name}">王</td>
            <td th:text="${user.job}">精算师</td>
            <td th:text="${user.corporation}">华为</td>
            <td th:text="${user.city}">北京</td>
            <td th:if="${user.sex eq true}">男</td>
            <td th:if="${user.sex eq false}">女</td>
            <td th:text="${user.age}">20</td>
            <td th:text="${user.phone}">123</td>
            <td th:text="${user.college}">清华</td>
            <td th:text="${user.eduction}">本科</td>
            <td th:text="${user.expectedAnnualSalary}+'K'">12K</td>
            <td th:text="${user.annualSalary}+'K'">10K</td>
            <td th:text="${user.monthlySalary}+'K'">1K</td>
            <td th:text="${#dates.format(user.updateTime,'yyyy-MM-dd')}">资料更新时间</td>
            <td th:text="${#dates.format(user.createTime,'yyyy-MM-dd')}">创建时间</td>
            <td th:if="${user.push} eq true">是</td>
            <td th:if="${user.push} eq false">否</td>
        </tr>
    </table>
    <div class="text-center">
    <ul class="pagination pagination-lg" >
        <!--/*@thymesVar id="indexPage" type="java.lang.Integer"*/-->
        <!--/*@thymesVar id="totalPage" type="java.lang.Integer"*/-->
        <li th:class="${indexPage==1}?'disabled' : ''"><a th:if="${indexPage==1}" href="#">上一页</a><a th:if="${indexPage>1}" th:href="@{'/salaryList?indexPage=' + ${indexPage-1}}">上一页</a></li>
        <li th:if="${indexPage >=4}" ><a th:href="@{'/salaryList?indexPage=' + ${indexPage-3}}" th:text="${indexPage -3}" >1</a></li>
        <li th:if="${indexPage >=3}" ><a th:href="@{'/salaryList?indexPage=' + ${indexPage-2}}" th:text="${indexPage -2}" >1</a></li>
        <li th:if="${indexPage >=2}" ><a th:href="@{'/salaryList?indexPage=' + ${indexPage-1}}" th:text="${indexPage -1}" >1</a></li>
        <li class="active"><a href="#" th:text="${indexPage}" >1</a></li>
        <li th:if="${indexPage+1 <=totalPage}" ><a th:href="@{'/salaryList?indexPage=' + ${indexPage+1}}" th:text="${indexPage +1}" >1</a></li>
        <li th:if="${indexPage+2 <=totalPage}" ><a th:href="@{'/salaryList?indexPage=' + ${indexPage+2}}" th:text="${indexPage +2}" >1</a></li>
        <li th:if="${indexPage+3 <=totalPage}" ><a th:href="@{'/salaryList?indexPage=' + ${indexPage+3}}" th:text="${indexPage +3}" >1</a></li>

        <li th:class="${indexPage==totalPage}?'disabled' : ''" ><a th:if="${indexPage==totalPage}" href="#">下一页</a><a th:if="${indexPage<totalPage}" th:href="@{'/salaryList?indexPage=' + ${indexPage+1}}">下一页</a></li>
    </ul><br>
    </div>
</div>
</body>
<style>
    .table tbody tr td{
        vertical-align: middle;
    }
</style>
</html>