<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户下载</title>
    <script th:src="@{/static/jquery-3.3.1/jquery-3.3.1.min.js}" type="text/javascript"></script>
    <link th:href="@{/static/bootstrap-3.3.7-dist/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/static/bootstrap-3.3.7-dist/js/bootstrap.min.js}" type="text/javascript"></script>
</head>
<body>
<table class="text-center" border="0" style="margin-top:4px; margin-left: 18px">
    <tr>
        <td><a href="#" class="easyui-linkbutton" onclick="downloadFile();">数据导出</a></td>

    </tr>
</table>
</body>
<script>
    function downloadFile(){
//        var params =
//            [
//                {
//                    id: "0"
//                },
//                {
//                    id: "1"
//                }]
//        var url = "/tgcareer/excel"
//        $.ajax({url: url,
//            type: "POST",
//            data: JSON.stringify(params),
//            contentType:"application/json",
//            success: function(response, status, request) {
//                var disp = request.getResponseHeader('Content-type:application/json;charset=utf-8');
//                if (disp && disp.search('attachment') !== -1) {  //判断是否为文件
//                    var form = $('<form method="POST" action="' + url + '">');
//                    $.each(params, function (k, v) {
//                        form.append($('<input type="hidden" name="' + k +
//                            '" value="' + v + '">'));
//                    });
//                    $('body').append(form);
//                    form.submit(); //自动提交
//                }
//            }
//        })
        window.location.href="/tgcareer/download";

    }
</script>
</html>